@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor{
    @apply p-2 shadow-lg shadow-gray-700 sm:flex flex-col sm:flex-row max-w-6xl mx-auto bg-gray-800 rounded-xl justify-center;
}

.iconsStyle{
    @apply transition-transform duration-200 hover:scale-125 m-3
}

.animationProyects{
    @apply rounded-xl hover:scale-105 transition-all duration-500 w-72 h-72 object-cover 
}

.cuadroDeTexto {
    padding: 6px;
    margin-top: 6px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.5);
  }
  